body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(20, 20, 20);
}
#calculator{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    width: 350px;
    height: 500px;
    /* border: 2px solid white; */
    padding: 14px;
    border-radius:6px;
    box-shadow: -8px -8px 15px rgba(46, 46, 46, 0.167) , 5px 5px 15px rgba(1, 1, 1, 0.891);
}
input {
    grid-column: span 4 ;
    padding: 10px;
    font-size: 30px;
    text-align: right;
    background-color: rgb(20, 20, 20);
    border: none;
    color: white;
}
button {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer ;
    box-shadow: -8px -8px 15px rgba(46, 46, 46, 0.167) , 5px 5px 15px rgba(1, 1, 1, 0.891);
}

button.operator {
    color: rgb(0, 89, 255);
    
}
button.double {
    grid-column: span 2;
}

button.equal{
    grid-column: span 4;
    background-color: rgb(0, 89, 255);
    color: rgb(20, 20, 20);
}

